.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .nav-left {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        line-height: 60px;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 40px;
            margin-right: 40px;
            object-fit: cover;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .nav-right {
        .login {
            margin-right: 10px;
        }
    }
}